* {
    margin: 0 0;
}

body {
    font-family: "Hiragino Sans GB";
    background-color: white;
    font-size: 14px !important;
    min-width: 900px;
}
input[type="text"]{
    border:1px solid #67c23a !important;
    border-radius: 4px !important;
    height: 40px !important;
}
input[type="number"]{
    border:1px solid #67c23a !important;
    border-radius: 4px !important;
    height: 40px !important;
}
.title {
    height: 60px;
    line-height: 60px;
    background-color: #f7f7f7;
}

.title > h2 {
    margin-left: 80px;
}

#div {
    margin-left: 80px;
}

.has-padding {
    width: 500px;
    height: 51px;
    padding-left: 15px;
    margin-top: -1px;
}
.aaa{
    width: 170px;
    height: 51px;
    padding-left: 15px;
    margin-top: 5px;
}
.text {
    margin-top: 24px;
}

.text > h5 {
    margin-bottom: 20px;
}

.description {
    margin-top: 31px;
    width: 1100px;
    height: auto;
}

.description > h5 {
    margin-bottom: 28px;
}

.pic {
    margin-top: 60px;
    position: relative;
}

.pic > h5 {
    margin-bottom: 30px;
}

.input {
    width: 200px;
    height: 200px;
    background: url(../images/add.png) no-repeat 0 0;
}

#a {
    position: absolute;
    top: 105px;
    left: 55px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width:100px;
    height: 100px;
}

#b {
    position: absolute;
    top: 105px;
    left: 265px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width:100px;
    height: 100px;
}

#c {
    position: absolute;
    top: 105px;
    left:475px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width:100px;
    height: 100px;
}

#d {
    position: absolute;
    top: 315px;
    left: 55px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width:100px;
    height: 100px;
}

#e {
    position: absolute;
    top: 315px;
    left: 265px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width:100px;
    height: 100px;
}

#f {
    position: absolute;
    top: 315px;
    left: 475px;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width:100px;
    height: 100px;
}

td {
    padding: 10px 10px 0 0;
}

.button {
    margin-top: 25px;
}

.btn {
    width: 250px;
    height: 51px;
    background: url("../images/button.png") no-repeat 0 0;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}
.btn1{
    width: 80px;
    height: 40px;
    background-color: #7d7d7d;
    color: white;
    border-radius: 5px;
    margin-top: 20px ;
    font-size: 14px !important;
}
.q{
    position: relative;
    display: none;
    margin-top: -200px;
    width: 50%;
    margin-left: 50%;
    height: 300px;
}
.q>div{
    height: 300px;
}
.w{
    position: relative;
}
select{
    font-size: 14px !important;
    height: 40px !important;
    border:1px solid #67c23a !important;
    border-radius: 4px !important;
}



input {
    font-size: 15px !important;
}
.userCard_img,
{
    background: url("../images/add.png") no-repeat;
    background-size: 100%;
}
#pic7{
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 200px;
    height: 200px;
}