body{
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.display_none{
    display: none;
}
.top{
    position: absolute;
    border: 0;
    line-height:0.8rem;
    height: 0.8rem;
    padding-top: 0.18rem;
    padding-bottom:0.18rem;
    width: 100%;
    background-color: #f2f2f2;
    z-index: 999;
}
.input_box{
    position: relative;
    background-color: #FFFFFF;
    left: 3%;
    width: 91%;
    height: 0.8rem;
    border-radius:0.13rem;
    border: 0;
    padding-left: 0.26rem;
    line-height: 0.8rem;
}
.input_box_div{
    width: 81%;
}
.input_box_div>.input_dex{
    position: absolute;
    width: 100% !important;
    border: none;
    font-size: 0.37rem;
    color: #000000;
    top: -0.25rem;
    position: relative;
    height: 0.53rem;
    line-height: 0.53rem;
    border: 0;
}
.input_span{
    position: relative;
    top: -0.71rem;
    font-size: 0.37rem;
    color: #CCCCCC;
}
.search_img{
    margin-top: 0.18rem;
    height: 0.42rem;
    width: 0.02rem;
    border-left: 1px solid #e5e5e5;
}
.search_fdj{
    border-left: 1px solid #e5e5e5;
    padding-left: 0.4rem;
    margin-right: 0.4rem;
    width: 0.42rem;
    margin-top:0.18rem;
}
/*热门搜索*/
.hot_search{
    margin-top:1.2rem;
    width: 100%;
}
.hot_search_title{
    background-color: #ffffff;
    height: 1rem;
    line-height: 0.5rem;
    border-bottom: 1px solid #e5e5e5 ;
}
.hot_search_title span{
    margin-left:0.4rem;
    font-size: 0.37rem;
    color: #ff8100;
}
.hot_search_span{
    background-color: #ffffff;
    padding-top: 0.26rem;
    padding-bottom: 0.26rem;
    border-bottom: 1px solid #e5e5e5;
}
.hot_search_span span{
    /*margin-left: 15px;*/
    margin-right: 0.26rem;
    margin-bottom: 0.26rem;
    /*margin-top: ;*/
    border-radius: 0.13rem;
    display: inline-block;
    padding:0 0.4rem;
    height: 1rem;
    line-height:1rem;
    font-size: 0.37rem;
    border:  1px solid #d1d1d1;
}