html, body {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance: none;
    outline: none;
    /*overflow: hidden;*/
    background-color: #fff;
}

.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.buyCount {
    margin: 0 15px;
    padding-top: 20px;
    padding-bottom: 8px;
    /*width: 100%;*/
    height: auto;
    background: #ffffff;
}

.buyCount>p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333333;
}

.tableBox {
    margin:22px  0 0 0  ;
    /*margin-top: 22px;*/
    /*margin-right: -15px;*/
    /*margin-left: 15px;*/
}
.tableBox p{
    margin: 0;
    padding: 0;
}
.tableBox div {
    border: 1px solid #3ac9af;
    height: 57px;
    border-radius: 4px;
    margin-right: 3%;
    margin-bottom: 14px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #3ac9af;
    width: 29%;
}
/*绑定关爱卡*/
.bindLoveCardTitle{
    height: 40px;
    line-height: 40px;
    border-bottom: 0.5px solid #e5e5e5;
}
.bindLoveCard p{
    font-size:14px;
    color: #333333;
    margin: 0 0 0 15px;
    padding: 0;
}
.bindLoveCardTicket{
    height: 50px;
    line-height: 50px;
    border-bottom: 0.5px solid #e5e5e5;
}
.bindLoveCardTicket p{
    font-size: 16px;
    color: #333333;
}
.bindLoveCardTicket input{
    height: 42px;
    width: 47%;
    padding-left: 10px;
    overflow: hidden;
    outline: none;
    border: 0;
    font-size: 16px;
    color: #333333;
}
/*支付方式*/
.payMeasureTitle{
    height: 40px;
    line-height: 40px;
    border-bottom: 0.5px solid #e5e5e5;
}
.payMeasure p{
    font-size:14px;
    color: #333333;
    margin: 0 0 0 15px;
    padding: 0;
}
.payMeasureSelect{
    height: 50px;
    line-height: 50px;
    border-bottom: 0.5px solid #e5e5e5;
}
.payMeasureSelect p{
    margin: 0;
}
.imgLeft{
    width: 24px;
    height: 24px;
    margin-top: 13px;
    margin-left: 15px;
    margin-right: 10px;
}
.imgRight{
    width: 19px;
    height: 19px;
    margin-top: 15.5px;
    margin-right: 15px;
}
/*邀请码*/
.invitationCodeIntroduce{
    font-size: 12px;
    color: #ff0000;
    margin: 0 15px;
    padding: 0;
}
.invitationCodeTitle{
    height: 50px;
    line-height: 50px;
    border-bottom: 0.5px solid #e5e5e5;
}
.invitationCodeTitle p{
    font-size:14px;
    color: #333333;
    margin: 0 0 0 15px;
    padding: 0;
}
.invitationCodeTitle input{
    height: 42px;
    width: 49%;
    padding-left: 10px;
    overflow: hidden;
    outline: none;
    border: 0;
    font-size: 16px;
    color: #333333;
}
/*支付导航*/
.payNow{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}
.payNowMoney{
    text-align: right;
    width: 60%;
    height: 100%;
    line-height: 50px;
    background-color: #fff;
    display: inline-block;
}
.payNow p{
    margin: 0 16.5px 0 0;
    padding: 0;
}
.payNowMoney span{
    color: #ff8200;
}
.payNow button{
    width: 40%;
    height: 100%;
    border: 0;
    background-color: #ff8200;
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
}