html, body {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance: none;
    outline: none;
    /*overflow: hidden;*/
    background-color: #fff;
}

.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
p{
    margin: 0;
    padding: 0;
}
.Top{
    width: 100%;
    height: 130px;
    background: url("../iconLove/card_bg-5@2x.png");
    background-size: 100% 100%;
}
.Top img{
    height: 35px;
    height: 35px;
    position: static;
    vertical-align: middle;
    margin-top: 47.5px;
    margin-left: 15px;

}
.Top p{
    margin-left: 10px;
    font-size: 16px;
    color: #ffffff;
    line-height: 130px;
}
.cardId{
    font-size: 14px;
    color: #ffffff;
    margin-right: 15px;
}
/*医院中部信息*/
.hospitalCard {
    height: 50px;
    border-bottom: 0.5px solid #E5E5E5;
    line-height: 50px;
}
.hospitalCard p{
    margin-left: 15px;
    color: #333333;
    background-color: #ffffff;
    font-size: 16px;
}
.hospitalDetails{
    width: 100%;
    font-size: 14px;
    color: #999999;
}
.hospitalDetails p:first-child{
    margin-left: 15px;
}
.hospitalName,.belongToSb,.endTime{
    margin-right: 15px;
}
.hospitalDetailsOne{
    margin-top: 20px;
    height: 14px;
}
.hospitalDetailsTwo{
    margin-top: 15px;
    height: 14px;
}
.hospitalDetailsThree{
    height: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.inclusionServicesTitle{
    font-size: 14px;
    color: #999999;
}
.inclusionServicesDetails{
    margin: 0 15px;
    font-size: 14px;
    color: #999999;
}
.inclusionServicesTitle p{
    margin: 22px auto 17px 15px;
}
.inclusionServicesDetails p{
    font-size: 14px;
    color: #999999;
    margin: 0 auto 12px 0;
}
.userCard{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
.userCard button{
    background-color: #ff8200;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    border: 0;
}

/*分享图标*/
.shareIcon{
    position: fixed;
    bottom: 96px;
    right: 15px;
    width: 49px;
    height: 49px;
    background: #ff8200;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.shareIcon img{
    width: 20px;
    position: static;
    vertical-align: middle;
    margin: 13px 14px;
}
.pop{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1100;
    overflow: auto;
}
.arrow1{
    position: absolute;
    display: block;
    width: 149px;
    height: 120px;
    top: 13px;
    right: 40px;
}
.words1{
    position: absolute;
    display: inline-block;
    width: 203px;
    height: 26px;
    top: 149px;
    right: 100px;
}
/*医院介绍*/
.hospitalIntroduceDetails{
    margin: 0 15px;
    font-size: 14px;
    color: #999999;
}
.hospitalIntroduceDetails p{
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
.hospitalIntroduceBtn{
    width: 100%;
    text-align: center;
    padding-bottom: 14px;
}
.hospitalIntroduceBtn p{
    display: inline-block;
    color: #ff5000;
    font-size: 14px;
    margin-top: 18px;

}
.hospitalIntroduceBtn img{
    width: 6.5px;
    height: 12px;
    position: static;
    vertical-align: baseline;
    margin-left: 10px;
}