html,body{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.dataList{
    margin-top: 0.26rem;
    background-color: #ffffff;
    width: 100%;
}
.line{
    height: 1.86rem;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.line_lf{
    margin-left:0.4rem;
}
.line_rt{
    line-height:1.886rem;
    font-size: 0.42rem;
    margin-right: 0.4rem;

}
.line_rt_add{
    color: #32933c;
}
.line_rt_del{
    color: #ffb900;
}
.line_lf p:first-child{
    margin-top: 0.32rem;
    margin-bottom:0.1rem;
    font-size: 0.42rem;
    color: #000;
}
.line_lf p:last-child{
    font-size: 0.32rem;
    color: #999;
    margin-top: 0;
    margin-bottom: 0;
}