html, body {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance: none;
    outline: none;
    /*overflow: hidden;*/
    background-color: #fff;
}
p{
    margin: 0;
    padding: 0;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
/*首页的卡券 */
.contain{
    margin: 0 0.4rem;
}
.loveCardTop{
    margin:0.26rem 0;
    height: 5.73rem;
    background: url("../iconLove/my-card_bg-2@2x.png");
    background-size:100% 100%;
}
.loveCardTopLeft{
    width: 67%;
    height: 100%;
}
.loveCardToptitle{
    font-size: 0.48rem;
    color: #ffffff;
    margin: 0.8rem 0 0.66rem 0.58rem ;
}
.loveCardTopLeft div{
    font-size: 0.34rem;
    color: #ffffff;
    line-height: 0.5rem;
    margin-left:0.58rem;
    margin-right: 0.4rem;
}
.loveCardTopLeft div p{
    margin: 0;
}
.lineOne p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.lineTwo p,.lineThree p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.loveCardTopRight{
    width: 31%;
    height: 100%;
}
.loveCardTopRightBox{
    margin-top: 1.73rem;
    height: 2.93rem;
    width: 94%;
    /*border-left: 3px dotted #e1654c;*/
    text-align: center;
    padding-top:1.01rem;
}
.loveCardTopRightBox .loveCardTopRightBoxOne{
    font-size:0.8rem;
    color: #ffffff;
    /*margin-top: 38px;*/
}
.loveCardTopRightBoxTwo{
    font-size: 0.5rem;
    color: #ffffff;
    margin-top: 0.37rem;
}
.loveCardTopRightBoxTwo img{
    width: 0.17rem;
    height: 0.32rem;
    position: static;
    vertical-align: middle;
    margin-left:0.21rem;
}
/*圆框框虚线*/
.garden{
    width: 0.13rem;
    height:3.97rem;
    margin-top:1.73rem;
}
.gardenBow{
    width: 0.08rem;
    height:0.08rem;
    background: #e1654c;
    border-radius: 50%;
    margin-bottom: 0.21rem;
}
/*TODO 收益*/
.incomeTop{
    border:1px solid #ffaf8c;
    margin-top:0.553rem;
    height: 0.553rem;
    width: 100%;
    background: #ffaf8c;
    border-top-left-radius:0.4rem;
    border-top-right-radius: 0.4rem;
}
.income{
    width: 100%;
    height: 5.28rem;
    border:1px solid #ffaf8c;
    border-bottom-left-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
}
.incomeShow{
    float: right;
    font-size: 0.32rem;
    color: #ff5d5e ;
    margin-top: 0.18rem;
    margin-right: 0.26rem;
}
.incomeTitle{
    font-size: 0.37rem;
    color: #ff5d5e;
    margin-top:0.7rem;
    text-align: center;
}
.incomeMoney{
    font-size: 1.06rem;
    color: #ff4f59;
    text-align: center;
    margin-top: 0.13rem;
}
.incomeMoneySpan{
    font-size:1.17rem;
    color: #ff4f59;
}
.incomeToday{
    width: 100%;
    height: 1.33rem;
    margin-top:0.26rem;
}
.incomeTodayLeft{
    width: 50%;
    height: 100%;
    border-right:1px solid #e5e5e5;
    text-align: center;
}
.incomeTodayLeftTitle{
    font-size: 0.37rem;
    color: #999999;
}
.incomeTodayLeftMoney{
    font-size:0.42rem;
    color: #333;
    margin-top: 0.21rem;
}
.incomeTodayRight{
    width: 49%;
    height: 100%;
    text-align: center;
    line-height: 1.33rem;
}
.withdrawals{
    font-size: 0.42rem;
    color: #333333;
}
.withdrawals img{
    width: 0.17rem;
    height: 0.32rem;
    position: static;
    vertical-align: middle;
    margin-left:0.21rem;
}
/*连接绳索*/
.link{
    text-align: center;
    width: 100%;
}
.link div{
    width: 50%;
    z-index: 999;

}
.link img{
    height:1.7rem;
    width: 0.56rem;
    margin-top: -0.72rem;
}
.cardDetails{
    width: 100%;
    height:4.9rem;
    border:1px solid #ffaf8c;
    border-bottom-left-radius:0.4rem;
    border-bottom-right-radius:0.4rem;
}
.cardDetailsImg{
    margin-top:0.85rem;
    height:2rem;
}
.cardDetailsImg div{
    width: 50%;
    height: 100%;
    text-align: center;
}
.cardDetailsImg div img{
    width: 1.96rem;
    height: 1.96rem;
}
.cardDetailsImg div p{
    margin-top: 0.4rem;
    font-size: 0.42rem;
    color: #333333;
}
.invitationCode{
    margin-top: 0.26rem;
    width: 100%;
    height:1.33rem;
    border:1px solid #ffaf8c;
    border-radius:0.16rem ;
}
.invitationCode p{
    font-size: 0.42rem;
    color: #333333;
    margin-left:0.26rem;
    line-height:1.33rem;
}


/*分享图标*/
.shareIcon{
    position: fixed;
    bottom: 1.22rem;
    right: 0.4rem;
    width:1.3rem;
    height: 1.3rem;
    background: #ff8200;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
.shareIcon img{
    width: 0.53rem;
    position: static;
    vertical-align: middle;
    margin: 0.34rem 0.37rem;
}