html,body{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.dataList{
    padding-bottom: 45px;
width: 100%;
    height: auto;
}
.tab{
    margin: 5px 0 10px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
}
.tab_p{
    font-size: 14px;
    color: #333;
    margin: 0;
    display: inline-block;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 30px;
}
.tab_div{
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid #e5e5e5;
}
.tab_div_p{
    font-size: 30px;
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
}
.tab_div_span{
    font-size: 14px;
    color: #999999;
    margin-bottom: 30px;
    display: inline-block;
}
.tab_bottom{
    font-size: 14px;
    color: #4179ce;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

/*我要付款*/
.footer{
    height: 45px;
    line-height: 45px;
    color: #FFF;
    background-color: #4179ce;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.paySelect{
    position: fixed;
    right: 15px;
    bottom: 140px;
    width: 150px;
    height: 103px;
    background: #ffffff;
    border-radius: 6px;
    font-size: 16px;
    color: #666;
    /*line-height: 50px;*/
}
.paySelect img{
    width: 21px;
    height: 21px;
    margin: 15px 20px;
}
.box_top{
    height: 50px;
    border-bottom: 0.5px solid #e5e5e5;
}
.paySelect p{
    display: inline-block;
    margin: 0;
    line-height: 50px;
}

/*指示箭头*/
.Triangle{
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); 	/* Opera */
    position: fixed;
    right: 30px;
    bottom: 132px;
}

.bgColor{
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    position: fixed;
    top: 0;
    left: 0;
}