html,body{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0 0 1.33rem 0;
    /*text-align: center;*/
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
    /*overflow: hidden;*/
    background-color: #f2f2f2;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
p{
    margin: 0;
    padding:0;
}
ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*display: inline-block;*/
}
html{font-size: 32px}
@media(min-device-width: 375px) {
    html{font-size: 64px}
}
@media(min-device-width: 414px) {
    html{font-size: 75px}
}

/*添加收货地址*/
.addAddress{
    width: 10rem;
    height: 1.6rem;
    background: #34495e;
    color: #FFFFFF;
    font-size: 0.42rem;
    line-height: 1.6rem;
    text-align: center;
}
.addAddressIcon{
    width: 0.17rem;
    height: 0.32rem;
    position: absolute;
    right: 0.4rem;
    top: 0.64rem;
}
/*收货地址*/
.consignee{
    height: 2.66rem;
    width: 10rem;
    background: #FFFFFF;
}
.consigneeIconLf{
    width: 0.29rem;
    height: 0.4rem;
    margin: 1.13rem 0.26rem 1.13rem 0.4rem;
}
.consigneeAddress{
    width: 8rem;
    height:auto ;
    font-size: 0.42rem;
}
.consigneeAddressTake{
    margin-bottom: 0.26rem;
}
.consigneeIconRt{
    width: 0.17rem;
    height: 0.32rem;
    margin: 1.17rem 0.4rem;
}
/*商品列表*/
.tabLine{
    margin-top: 0.26rem !important;
}
.tabLineCitySelect{
    background: #FFFFFF !important;
    border-bottom: 0.01rem solid #e5e5e5;
}
.tabLineCommodity{
    border-bottom: 0 !important;
}
.tabLineAll .tabLineCommodityRt{
    border-bottom:  0.01rem solid #e5e5e5 !important;
    width: 6.78rem !important;
}
.tabLineAll li:last-child .tabLineCommodityRt{
    border-bottom: 0 !important;
}
.tabLineAllPrice{
    height: 1.6rem;
    width: 10rem;
    background: #fff;
    border-top: 0.01rem solid #e5e5e5;
}
.tabLineAllPriceDiv{
    width: 3.5rem;
    margin-right: 0.4rem;
}
.tabLineAllPricePost{
    font-size: 0.37rem;
    color: #666;
}
.tabLineAllPriceAll{
    font-size: 0.42rem;
    color: #000;
}
.tabLineCommodityRtMoneyDouble{
    text-align: center;
    font-size: 0.37rem;
    color: #000;
    height: 0.72rem !important;
    line-height: 0.72rem;
    border: none;
    outline: none;
    padding: 0;
    margin-right: 0.4rem;
}
.tabLineCommodityImg{
    margin-left: 0.4rem !important;
}
/*会员优惠*/
.member,.memberPrice{
    height: 1.33rem;
    width: 10rem;
    background: #fff;
}
.memberSale{
    font-size: 0.42rem;
    color: #333;
    margin-left: 0.4rem;
    line-height: 1.33rem;
}
.joinMember{
    font-size: 0.42rem;
    color: #ff8200;
    line-height: 1.33rem;
}
.grightBLACK{
    width: 0.17rem;
    height: 0.32rem;
    margin: 0.505rem 0.4rem 0.505rem 0.26rem;
}
.memberPriceSale{
    font-size: 0.42rem;
    color: #ff8200;
    margin-right: 0.4rem;
    line-height: 1.33rem;
}

/*底部导航*/
.payBottom{
    height: 1.33rem;
    background: #FFFFFF;
    position: fixed;
    bottom: 0;
    width: 10rem;
    border-top: 0.01rem solid #e5e5e5;
}
.payBottomBtn{
    width: 3.2rem;
    height: 100%;
    background: #ff8200;
    color: #FFFFFF;
    font-size: 0.48rem;
    border: 0;
}
.payBottomEnd{
    font-size: 0.42rem;
    color: #000;
    margin-right: 0.4rem;
    line-height: 1.33rem;
}
.payBottomEndLf{
    font-size: 0.42rem;
    color: #ff5000;
}
.payBottomEndRt{
    font-size: 0.32rem;
    color: #ff5000;
}
/*弹出框*/
.tabMake{
    position: fixed;
    bottom: 0;
    width: 10rem;
    background: #FFFFFF;
    height: auto;
    /*border-top: 0.01rem solid #e5e5e5;*/
}
.tabMakeSure{
    height: 1.2rem;
    line-height: 1.2rem;
    width: 10rem;
    border-bottom: 0.01rem solid #e5e5e5;
    font-size: 0.42rem;
    color: #000000;
    text-align: center;
}
.close{
    width: 0.32rem;
    height: 0.32rem;
    margin-top: -0.72rem;
    margin-right: 0.4rem;
}
.tabMakeSure p{
    width: 10rem;
    text-align: center;
}
.tabMakePrice{
    font-size: 1.04rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    width: 10rem;
}
.tabMakeLine{
    height: 1.33rem;
    width: 10rem;
    line-height: 1.33rem;
    border-bottom: 0.01rem solid #e5e5e5;
}
.tabMakeIncome{
    height: 0.64rem;
    width: 0.64rem;
    margin:   0.345rem 0.4rem;
}
.tabMakeLine span{
    font-size: 0.42rem;
    line-height: 1.33rem;
}
.tabMakeSelect{
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.415rem 0.4rem;
}
.btnBuy{
    width: 100%;
    height: 100%;
    border-radius: 0.17rem;
    border: 0;
    background: #ff8200;
    font-size: 0.42rem;
    text-align: center;
    color: #ffffff;
}

/*绿帽子皇冠*/
.greenHat{
    width: 6.85rem;
    height: 7.17rem;
    border-radius: 0.18rem;
    background: #FFFFFF;
    position: fixed;
    left: 1.575rem;

}
.greenHat img{
    width: 1.84rem;
    height: 1.58rem;
    margin-left: 2.505rem;
    margin-top: 0.613rem;
}
.noMember{
    font-size: 0.42rem;
    color: #3ac9af;
    text-align: center;
    margin-top: 0.4rem;
}
.ifMember{
    font-size: 0.37rem;
    color: #666;
    text-align: center;
    margin-top: 0.36rem;
}
.memberRefuse{
    margin-top: 0.96rem;
    margin-left: 0.625rem;
    width: 2.4rem;
    height: 0.8rem;
    background: #ff8200;
    border-radius: 0.07rem;
    font-size: 0.37rem;
    color: #fff;
    border: 0;
}
.memberNow{
    margin-top: 0.96rem;
    width: 2.4rem;
    height: 0.8rem;
    background: #3ac9af;
    border-radius: 0.07rem;
    font-size: 0.37rem;
    color: #fff;
    margin-left: 0.8rem;
    border: 0;
}