html,body{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
    /*overflow: hidden;*/
    background-color: #f2f2f2;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    color: #333;
    /*padding: 0 45px 0 15px;*/
    background-color: #ffffff;
    margin-top: 10px;
    border-bottom: 0.5px solid #e5e5e5;
}
.title p{
    margin: 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.payMoney{
    height: 155px;
    width: 100%;
    background: #ffffff;
}
.payMoneyOne{
    height: 66px;
    line-height: 66px;
    color: #333;
    font-size: 16px;
    margin-left: 15px;
}
.payMoneyTwo{
    height: 55px;
    margin-left: 15px;
    color: #333;
}
.payMoneyTwo p{
    margin-top: 10px;
    font-size: 39px;
}
.payMoneyTwo input{
    height: 55px;
    font-size: 55px;
    width: 60%;
    border: 0;
    outline: none;
    margin-left: 10px;
}
.button{
    margin: 25px 15px 0;
    height: 50px;
}
button{
    width: 100%;
    height: 100%;
    /*background: #4179ce;*/
    font-size: 16px;
    /*color: #ffffff;*/
    color: #b2b2b2;
    background: #CCCCCC;
    line-height: 50px;
    border: 0;
    border-radius: 6px;
}
/*付款成功界面*/
.over{
    text-align: center;
}
.over img{
    width: 78px;
    height: 78px;
    margin-top: 138px;
}
.over p{
    margin-top: 22px;
    color: #3ac9af;
    font-size: 16px;
}
/*查看明细*/
.seeDetails{
    font-size:14px ;
    color: #f49e02;
    margin:20px 15px auto auto;
}