html,body{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
    background-color: #f2f2f2;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.departments{
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding:0 15px ;
    background-color: #fff;
    margin-top: 10px;
    border: 0;
    font-size: 16px;
    color: #333;
}
.discount{
    width: 100%;
    height: 20px;
    line-height:20px;
    padding:20px 15px ;
    background-color: #fff;
    margin-top: 10px;
    border: 0;
    font-size: 16px;
    color: #333;
}
.btn_div{
    position: fixed;
    left: 15px;
    right: 15px;
    height: 50px;
    bottom: 45px;
}
.btn{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #4179ce;
    text-align: center;
    line-height: 50px;
    border: 0;
    color: #fff;
    font-size: 16px;
}
