/*通用，自适应*/
html, body {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance: none;
    outline: none;
    /*overflow: hidden;*/
    background-color: #FFFFFF;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}

p {
    margin: 0;
    padding: 0;
}
html{font-size: 32px}
@media(min-device-width: 375px) {
    html{font-size: 64px}
}
@media(min-device-width: 414px) {
    html{font-size: 75px}
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 10rem;
}
/*个人信息*/
.personalInformation{
    height: 3.62rem;
    width: 10rem;
}
.personalInformation img{
    width: 3.06rem;
    height: 3.06rem;
    margin: 0.28rem 0.4rem;
}
.personalInformationList{
    width:5.8rem ;
    margin-top: 0.44rem;
}
.personalInformation p{
    font-size: 0.42rem;
    color: #4e3624;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}

.aidInformation{
    height: 1.81rem;
    width: 10rem;
}
.aidInformation div{
    width: 5rem;
    /*height: 100%;*/
    text-align: center;
    margin: 0.27rem 0;
}
.aidInformation div p:first-child{
    color: #ff5000;
    font-size: 0.48rem;
}
.aidInformation div p:last-child{
    color:#999;
    font-size: 0.37rem;
    margin-top: 0.16rem;
}
/*基本信息*/
.basicInformation{
    height: 1.06rem;
    line-height: 1.06rem;
    padding-left: 0.4rem;
    width: 100%;
    border-bottom: 0.01rem solid #e5e5e5;
    font-size: 0.42rem;
    color: #000000;
}
ul li{
    height: 1.33rem;
    width: 9.2rem;
    margin-left: 0.4rem;
    padding-right: 0.4rem;
    border-bottom: 0.01rem solid #e5e5e5;
    line-height: 1.33rem;
}
ul li span:first-child{
    font-size: 0.42rem;
    color: #333;
}
ul li span:last-child{
    font-size: 0.42rem;
    color: #666;
}
/*相关资料*/
.relevantInformation{
    height: 1.06rem;
    line-height: 1.06rem;
    padding-left: 0.4rem;
    font-size: 0.42rem;
    color: #333;
}
.img{
    width: 9.2rem;
    margin: 0 0.4rem;
}
.img img{
    width: 9.2rem;
    vertical-align: bottom;
}