/*通用，自适应*/
html, body {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance: none;
    outline: none;
    /*overflow: hidden;*/
    background-color: #FFFFFF;
}

.lf {
    float: left;
}

.rt {
    float: right;
}

.clear {
    clear: both;
}

p {
    margin: 0;
    padding: 0;
}
html{font-size: 32px}
@media(min-device-width: 375px) {
    html{font-size: 64px}
}
@media(min-device-width: 414px) {
    html{font-size: 75px}
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0 auto 1.6rem;
    width: 10rem;

}

/*内容*/
.listLine{
    border-bottom: 0.01rem solid #e5e5e5;
}
.name{
    font-size: 0.42rem;
    color: #333;
    margin: 0 auto 0.4rem 0.4rem;
    padding-top: 0.58rem;
}
.reportTime{
    font-size: 0.37rem;
    color: #333;
    margin-left: 0.4rem;
}
.eventNum{
    font-size: 0.37rem;
    color: #333;
    margin: 0.21rem auto 0.53rem 0.4rem;
}
.listLine span{
    width: 1.33rem;
    height: 0.56rem;
    border: 0.01rem solid #ccc;
    border-radius: 0.1rem;
    font-size: 0.32rem;
    display: inline-block;
    text-align: center;
    line-height: 0.56rem;
    margin-right: 0.8rem;
    margin-bottom: 0.58rem;
    color: #cccccc;
}
.audit{
    margin-left: 0.4rem;
}
/*按钮*/
.btn{
    height: 1.6rem;
    border-top: 0.01rem solid #e5e5e5;
    position: fixed;
    bottom: 0;
    width: 10rem;
}
.btn button{
    width: 9.2rem;
    height: 1.06rem;
    background: #ff5000;
    color: #fff;
    font-size: 0.48rem;
    line-height: 1.06rem;
    border: 0;
    border-radius: 0.16rem;
    vertical-align: middle;
    margin: 0 0.4rem;
}
/*无报案*/
.withoutList{
    text-align: center;
}
.withoutList img{
    width: 3.6rem;
    height: 3.6rem;
    margin-top: 3.2rem;
    vertical-align: bottom;
}
.withoutList p{
    font-size: 0.42rem;
    margin-top: 0.53rem;
    color: #cdd4d9;
}