body{
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
}

.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.bg_img{
    width: 100%;
    position: absolute;
}
.bg_img img{
    width: 100%;
    height:853px;
}
.emergingLayer{

}
.input_sr{
    /*width: 100%;*/
    height: 30px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 13px;
    line-height: 30px;
    text-align: center;
    position: relative;
    top: 395px;
    /*top: 415px;*/

}
.input_sr input{
    width:82% ;
    height: 30px;
    border: 0.5px solid #ff7f00;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 8px;
    padding-left: 18%;
    font-size: 14px;
}
.input_sr span{
    display: inline-block;
    font-size: 17px;
    color: #CCCCCC;
    position: absolute;
    top: 5px;
    left: 40px;
}
.smallicon{
    width: 14px;
    height: 18px;
    background-size: contain;
    position: absolute;
    top: 7px;
    left: 20px;
}
.smallicon img{
    width: 14px;
    height: 18px;
}
.submit_yzm{
    display: inline-block;
    font-size: 13px;
    color: #ffffff;
    text-align: center;
    height: 34px;
    line-height: 34px;
    /* margin-left: 5%; */
    width: 100%;
    border-radius: 15px;
    background: #f65b3d;
}
/*角色选择部分*/
.input_js{
    width: 70%;
    margin-left: 15%;
    /*text-align: center;*/
    position: relative;
    top: 470px;
    height: 30px;
    /*top: 510px;*/
    line-height: 30px;
    color: #333;
    font-size: 16px;
    border: 0.5px solid #ff7f00;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 8px;
    background-color: #fff;
}
.input_js_icon{
    width: 15px;
    margin-left: 15%;
}
.input_js_icon img{
    width: 15px;
}
.input_js_span{
    width: 57%;
    text-align: center;
    display: inline-block;
}