body{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.register,.Agent,.product,.structure,.date,.productStandard{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 0.5px solid #e5e5e5;
}
.line{
    background-color: #ffffff;
    height: 50px;
    border-bottom: 0.5px solid #e5e5e5;
    margin-left: 15px;
    line-height: 50px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
}
.line span{
    width: 27%;
    display: inline-block;
}
.line input{
    width: 65%;
    height: 50px;
    overflow : hidden;
    text-overflow: ellipsis;
    border: 0;
}
.line_1{
    background-color: #ffffff;
    height: 50px;
    border-bottom: 0.5px solid #e5e5e5;
    /*margin-left: 15px;*/
    line-height: 50px;
    font-size: 14px;
    color: #333333;
    overflow: hidden;
}
.add_pic,.del_pic{
    margin-left: 15px;
    width: 19px;
    height: 100%;
    margin-right: 10px;
}
.add_pic img,.del_pic img{
    margin-top: 15px;
    width: 100%;
}
.addName{
    width: 70px;
    margin-right: 10px;
    height: 50px;
    border: 0;
    color: #333;
    font-size: 14px;
}
.addContent{
    height: 50px;
    color: #333;
    font-size: 14px;
    text-overflow: ellipsis;
    border: 0;
}

/*图片*/
.picture{
    background: #ffffff;
}
.picture div{
    width: 90px;
    height: 90px;
    display: inline-block;
}
.picture img{

    width: 90px;
    height: 90px;
}

.add_picBlobs{
    background: url("../images/add_picture.png");
    background-size: cover;
    /*margin-top: 5px;*/
}
.del_picBlobs{
    background: url("../images/delete_picture.png");
    background-size: cover;
}
.Add1{
    position: absolute;
    width: 90px;
    height: 90px;
}
.z_addImg{
    margin-right: 5px;
}
.z_addImg_1{

}





/*shiyan*/
.container {
    width: 100%;
    height: 100%;
    overflow: auto;
    clear: both;
}

.z_photo {
    padding: 0.3rem;
    overflow: auto;
    clear: both;
    margin: 1rem auto 0 ;
}

.z_photo img {
    width: 90px;
    height:90px;
}

.z_addImg {
    float: left;
    margin-right: 0.1rem;
    margin-bottom: 0.1rem;
}

.z_file {
    width: 1rem;
    height: 1rem;
    background: url(../images/add_picture.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    /*margin-right: 0.2rem;*/
}

.z_file input::-webkit-file-upload-button {
    width: 1rem;
    height: 1rem;
    border: none;
    position: absolute;
    outline: 0;
    opacity: 0;
}

.z_file input#file {
    display: inline-block;
    width: 90px;
    border: 0;
    vertical-align: middle;
    opacity: 0;
}