body{
    width: 100%;
    height: 100%;
    padding:  0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
}
.lf{
    float: left;
}
.rt{
    float:right ;
}
ul,li{
    /*margin: 0;*/
    padding: 0;
    list-style: none;
    /*display: inline-block;*/
}
.top{
    text-align: center;
    height: 44px;
    width: 100%;
    /*border: 1px solid #999999;*/
    background-color: #4179ce;
}
.top_img{
    margin-left:4% ;
    margin-top: 14px;
}
.input_box{
    position: absolute;
    width:65%;
    height: 30px;
    margin-top: 7px;
    /*margin-left: 17%;*/
    left: 16%;
    border: 0;
}
.title{
    width: 100%;
    margin: 0;
    font-size: 17px;
    color: #FFFFFF;
    margin-top: 5px;
    font-weight: 600;
}
.submit{
    z-index: 600;
    width: 35px;
    font-size: 17px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    padding-right: 4%;
    margin-top: 12px;
}
.content_text,.content_text1{
    margin-left: 4%;
    font-size: 15px;
    color: #333333;
    /*display: inline-block;*/
    height:49px;
    line-height:49px;
    width:96%;
    font-weight: 500;
    border-bottom: 0.5px solid #ccc;
}

.content_text p{
    /*width: 42%;*/
    height: 15px;
    line-height: 15px;
    width: 30%;
    padding-right: 4%;
    border-right: 0.5px solid #ccc;
}

.content_text1 p{
    /*width: 42%;*/
    height: 15px;
    line-height: 15px;
    width: 96%;
    padding-right: 4%;
    border-right: 0.5px solid #ccc;
}

.corporationId{
    width:55% ;
    height: 47px;
    line-height: 47px;
    padding-left: 4%;
    border: 0;
    display: inline-block;
    padding-right: 0;
    margin-right: 0;

    overflow : hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}
.content_text img{
    margin-right: 4%;
    margin-top: -32px;
}
.content_text input{
    height: 40px;
    line-height: 40px;
    padding-left: 4%;
    border: 0;
    width: 55%;
}
.p_content{
    width: auto;
    padding-right: 4%;
    border: 0 !important;
}

/*厂商认领后补*/
.content_text_n{
    /*margin-left: 4%;*/
    background-color: #ffffff;
    font-size: 15px;
    color: #333333;
    /*display: inline-block;*/
    height:49px;
    line-height:49px;
    width:100%;
    font-weight: 500;
    border-bottom: 0.5px solid #e5e5e5;
}
.content_text_n img{
    margin-right: 4%;
    margin-top: 15px;
}
.content_text_n input{
    height: 40px;
    line-height: 40px;
    padding-left: 4%;
    border: 0;
    width: 55%;
}
.content_text_n p{
    /*width: 42%;*/
    color: #666;
    padding-left: 4%;
    height: 15px;
    line-height: 15px;
    width: 20%;
    padding-right: 4%;
    /*border-right: 0.5px solid #ccc;*/
}
.content_text_last img{
    width: 25px !important;
    margin-right: 4%;
    margin-top: 15px;
}