body{
    /*width:100%;*/
    /*height: 100%;*/
    padding: 0;
    margin: 0;
    /*background-image: url("../images/bg_data.png") ;*/
    /*background-size:100% auto;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
}
.bg{
    display: inline-block;
    width: 100%;
    /*height: 100%;*/
    position:absolute;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.title{
    position: relative;
    height: 11.6%;
    width: 94%;
    margin-left: 2.6%;
    text-align: center;

    /*position: relative;*/
    margin-top: 8%;
    color: white;
    font-weight: 600;
    /*width: 96%;*/
    /*margin: 0;*/
    /*top: 40%;*/
    font-size: 17px;
    /*text-align: center;*/
}
.title img{
    position: relative;

    /*margin-top: 8%;*/
}
.title span{
    /*position: relative;*/
    /*margin-top: 8%;*/
    /*color: white;*/
    /*font-weight: 600;*/
    /*width: 96%;*/
    /*margin: 0;*/
    /*top: 40%;*/
    /*font-size: 17px;*/
    /*text-align: center;*/
    /*width: 94%;*/
}

.avater{
    height: 17.44%;
    margin-top: 9%;
    margin-left:2.6% ;
    width: 94.67%;
    position: relative;
    /*z-index: 200;*/

}
.avater_p{
    /*position: relative;*/
    font-size: 15px;
    color: #333333;
    margin-left: 5.6%;
    margin-top: 0;
    margin-bottom: 0;
}
.avater_titie{
    width: 19.15%;
    margin-top: 4%;
}
.back{
    /*line-height: 22.8%;*/
    margin:11.75% 2.8%;
}
.userRealname,.userCompanyAddress,.userCompany,.userEmail,.userPhone{
    position: relative;//.
    /*display: inline-block;*/
    height:50px ;
    width: 89.6%;
    left: 5.2%;
    border-bottom: 0.5px solid #cccccc;
    /*z-index: 200;*/
}
.content_geren input{
    padding-left: 5px;
    color: #cccccc;
    font-size: 15px;
    width: 65%;
    /*margin-left: 10%;*/
    margin-top: 5px;
    height: 40px;
    border: 0;
}