body{
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
p{
    /*margin: 0;*/
    /*一行隐藏*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 1;*/
    /*-webkit-box-orient: vertical;*/
}
.bottom{
    border-bottom: 0.5px solid #e5e5e5;
}
.fenge{
    height: 10px;
    background-color: #f2f2f2;
    width: 100%;
}
/*头部*/
.top_title{
    width: 100%;
    height: 210px;
    background: url("../images/top_tip2.png");
    background-size: 100% 100%;
}
.fenlei{
    margin-top: 20px;
    margin-left: 15px;
}
.search{
    width: 94%;
    margin-left: 3%;
    height: 45px;
    line-height: 45px;
    background-color: #ffffff;
    border-radius: 6px;
    margin-top: 95px;
    font-size: 15px;
    color: #999999;
}
.search img{
    width: 16px;
    margin-left: 15px;
    margin-right: 6px;
}

/*新闻展示*/
.news_pic{
    width: 100%;
    /*height: auto;*/
}
.news_pic img{
    width: 100%;
    height: auto;
}
/*产品列表*/
.productList{
    height: 50px;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #333333;
    line-height: 50px;
}
.productList p{
    margin-top:0 ;
    margin-bottom: 0;
    margin-left: 15px;
}
.productList_list{
    width: 100%;
}
/*文字和图文*/
.productList_list_text,.productList_list_pic{
    width: 100%;
}
.productList_list_text_lf{
    width: 85%;
}
.productList_list_pic{
    width: 100%;
}
.productList_list_text_lf p{
    margin-left: 15px;
    font-size: 16px;
    color: #333333;
    margin-top: 17px;
    margin-bottom: 17px;
}
.productList_list_text_lf span{
    font-size: 14px;
    color: #999;
    margin-left: 15px;
    display:inline-block;

    /*一行隐藏*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.productList_list_text_rt img{
    width: 6.5px;
    margin-right: 15px;
    height: 12px;
    /*margin-top: 56px !important;*/
}
.productList_list_pic p{
    margin-left: 15px;
    font-size: 16px;
    color: #333333;
    margin-top: 17px;
    margin-bottom: 15px;
}
.productList_list_pic_ps{
    width: 100%;
}
.img1{
    margin-left: 15px !important;
}
.img3{
    margin-right: 15px !important;

}
.productList_list_pic_ps img{
    width:28%;
    margin-bottom: 25px;
    height: 75px;
    margin-left: 10px;
}
