body{
    width: 100%;
    height: 100%;
    margin: 0;
    /*padding-top:85px;*/
    box-sizing: content-box;
    overflow-x: hidden;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
a{
    text-decoration: none;
    color: #4179ce;
}
.login_top img{
    margin-left: 15px;
    margin-top: 11px;
    /*margin-bottom: 11px;*/
}
.main{
    margin-top: 85px;
    padding-left: 50px;
    padding-right: 50px;
}
.clear{
    clear: both;
}
.input_box{
    height: 60px;
    border-bottom: 0.5px solid #e4e4e6;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    position: relative;
}

.input_box>input{
    width: 100%;
    height: 70%;
    background: white;
    color: #CCCCCC;
    border: none;
    border-radius:20px;
    padding: 10px 30px 10px 30px;
    box-sizing: border-box;
    font-size: 17px;
    /*margin-top: 25%;*/
}
.placeholder{
    font-size: 17px;
    color: #CCCCCC;
    position: absolute;
    top: 10px;
    left: 30px;
}
.wode,.suo{
    width: 18px;
    height: 18px;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 0;
}
.eye{
    width: 30px;
    height: 18px;
    background-size: contain;
    position: absolute;
    top: 10px;
    right: 0;
}
.button{
    margin:50px 50px 30px 50px;
    /*width: 100%;*/
    height: 50px;
    color: #FFFFFF;
    font-size: 17px;
    border: 0;
    /*background-color: #4179ce;*/
    /*border-radius: 22px;*/
}
.button_next{
    width: 100%;
    height: 90%;
    margin-top: 2px;
    color: #FFFFFF;
    border: 0;
    background-color: #d1d5da;
    /*background-color: #4179ce;*/
    border-radius: 22px;
}
.wenzi{
    width: 100%;
}
/*.login_box{*/
    /*position: relative;*/
/*}*/
.tiaokuan{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 20px;
    color: #999;
    font-size: 15px;
}
.register{
    font-size: 14px;
    color: #999;
    margin-top: 10px;
    margin-left: 3px;
}
.forget_pass{
    font-size: 14px;
    color: #999;
    margin-top: 10px;
    margin-right: 3px;
}
/*.bottom{*/
    /*float: left;*/
    /*margin-bottom: 20px;*/
/*}*/

/* TODO 注册界面 */
.register_box{
    padding: 0 15px;
}
.login_top_register{
    height: 40px;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #4179ce;
}
.login_top_register>img{
    margin-left: 15px;
    margin-top: 11px;
    margin-bottom: 11px;
}
.login_top_register_p{
    float: left;
    display: inline-block;
    font-size: 17px;
    font-weight: 800;
    margin-top: -34px;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
}
.input_box_register{
    height: 60px;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    border-bottom: 0.5px solid #e4e4e6;
    position: relative;
}
.input_box_register>input{
    width: 100%;
    height: 70%;
    background: white;
    color: #CCCCCC;
    border: none;
    border-radius:20px;
    /*margin-left:15px ;*/
    /*margin-right: 15px;*/
    padding: 10px 30px 10px 40px;
    box-sizing: border-box;
    font-size: 17px;
}
.placeholder_phone,.placeholder_Verification,.placeholder_password{
    font-size: 17px;
    color: #CCCCCC;
    position: absolute;
    top: 10px;
    left: 35px;
}
.send_Verification{
    border-left: 0.5px #cac9ce solid;
    padding-left: 15px;
    width: 107px;
    font-size: 17px;
    color: #CCCCCC;
    position: absolute;
    top: 10px;
    right: -20px;
}
.phone_img,.Verification_img,.password_img{
    width: 18px;
    height: 18px;
    background-size: contain;
    position: absolute;
    top: 12px;
    left: 8.5px;
}
.button_register{
    margin-top:60px;
    /*width: 100%;*/
    height: 50px;
    color: #FFFFFF;
    font-size: 17px;
    border: 0;
}
.button_register_next{
    width: 100%;
    height: 90%;
    margin-top: 2px;
    font-size: 17px;
    color: #FFFFFF;
    border: 0;
    background-color: #d1d5da;
    border-radius: 22px;
}
.bottom_gouxuan{
    position: relative;
}
.bottom_gouxuan span{
    font-size: 14px;
    color: #CCCCCC;
}
/*TODO 修改登录密码*/
.changePassword{
    padding: 0 15px;
    position: relative;
}
.input_box_register_change{
    height: 80px;
    position: relative;
    border-bottom: 0.5px #cac9ce solid;
}
.input_box_register_change input{
    padding-left: 10px ;
    position: absolute;
    height: 40px;
    margin-top: 20px;
    width: 100%;
    background: white;
    color: #CCCCCC;
    border: none;
    border-radius:20px;
}
.placeholder_telephone,.placeholder_changeVerification,.placeholder_changeVerification_register{
    font-size: 17px;
    color: #CCCCCC;
    position: absolute;
    top:30px;
    left: 10px;
}
.placeholder_newPassword,.placeholder_newPasswordSure{
    font-size: 17px;
    color: #CCCCCC;
    position: absolute;
    top: 30px;
    left: 10px;
}
.submit{
    margin-top:40px;
    /*width: 100%;*/
    height: 50px;
    color: #FFFFFF;
    font-size: 17px;
    border: 0;
}
.submit_button{
    width: 100%;
    height: 90%;
    margin-top: 2px;
    font-size: 17px;
    color: #FFFFFF;
    border: 0;
    background-color: #4179ce;
    border-radius: 22px;
}

.send_Verification_change,.send_Verification_change_a{
    /*top:30px;*/
    border-left: 0.5px #cac9ce solid;
    padding-left: 15px;
    width: 107px;
    font-size: 17px;
    color: #CCCCCC;
    position: absolute;
    top: 30px;
    right: -20px;
}
