body{
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    width: 100%;

}
.title{
    font-size: 20px;
    color: #333333;
    line-height: 30px;
    width: 90%;
    margin-left: 5%;
    font-weight: 600;
}
.title p{
    margin-top: 22px;
    margin-bottom: 0;
}
.title_span{
    font-size: 17px;
    color: #333333;
    font-weight: 400;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 43px;
    line-height: 17px;
}
.title_img{
    width: 100%;
    margin-top: 10px;
}
.content{
    width: 90%;
    margin-left: 5%;
    font-size: 14px;
    color: #333;
    line-height: 30px;
}
.kuang{
    width: 100%;
    position: relative;
}
.kuang img{
    width: 100%;
}
.kuang_span{
    width: 80%;
    left: 10%;
    position: absolute;
    top: 36px;
    font-size: 14px;
    color: #333333;
    text-align: center;
}
.tu{
    width: 100%;
    margin-top: 23px;
}
.tu img{
    width: 100%;
}