body{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /*background-color: ;*/
}
.rt{
    float: right;
}
.lf{
    float: left;
}
.clear{
    clear: both;
}
.listDiv{
    margin-left: 15px;
    height: 50px;
    width: 100%;
    line-height: 50px;
    border-bottom: 0.5px solid #e5e5e5;
    font-size: 15px;
    color: #333333;
}
.listDiv_lf{
    /*margin-left: 15.5px;*/
}
.listDiv_rt{
    margin-right: 30px;
}