
.tanchuang1{
    display: none;
    position: fixed;
    width: 60%;
    height: 125px;
    top:30%;
    right:20%;
    background: #fff;
    z-index: 200;
    overflow: auto;
    border-radius: 7px;
    border: 0.5px solid #e5e5e5;font-size: 16px !important;
}
.wenzi{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    /*height: 80px;*/
    line-height: 25px;
    font-size: 16px;
    top: 20px;
    /*right: 40px;*/
}
.btnbtn{
    /*position: absolute;*/
    margin-top: 75px;
    font-size: 16px;
    color: #ff9a00;
    width: 100%;
    text-align: center;
    height: 44.5px;
    line-height: 44.5px;
    display: inline-block;
    border-top: 0.5px solid #e5e5e5;
}