body{
    width: 100%;
    height: 100%;
    padding:  0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
}
.lf{
    float: left;
}
.rt{
    float:right ;
}
ul,li{
    /*margin: 0;*/
    padding: 0;
    list-style: none;
    /*display: inline-block;*/
}
.top{
    text-align: center;
    height: 44px;
    width: 100%;

    background-color: #4179ce;
}
.top_img{
    margin-left:4% ;
    margin-top: 14px;
}
.top_img img{
    position: absolute;
    top: 14px;
}
.input_box{
    position: absolute;
    width:65%;
    height: 30px;
    /*line-height: 30px;*/
    margin-top: 7px;
    /*margin-left: 17%;*/
    left: 16%;
    border: 0;
}
.title{
    width: 100%;
    margin: 0;
    font-size: 17px;
    color: #FFFFFF;
    margin-top: 5px;
    font-weight: 500;
}
.submit{
    margin-top: 8px;
    margin-right: 15px;
}
.maintain{
    /*width: 100%;*/
    padding-left: 15px;
    padding-right: 15px;
}
.title_first{
    font-size: 14px;
    color: #333 !important;
    /*color: #333333;*/
    margin-top: 20px;
    /*line-height: ;*/
}
.title_first>p{
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 17px;
    color: #333;
}
#dataList{
    padding-right: 15px;
    padding-left: 15px;
    height: auto;
    font-size: 14px;
    line-height: 25px;
    color: #666666;

}
.details{
    /*margin-bottom: 11px;*/
}
.value{
    margin-left: 10px;
}
.img_list{
    margin-top: 19px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 50px;
}

.img_list img{
    width:1.6rem;
    height: 1.6rem;
    /*margin-right: 0.1rem;*/
    /*margin-bottom: 0.1rem;*/
    /*display: inline-block;*/
    /*margin:0 0.1rem 0.1rem 0;*/
}
.footer{
    font-size: 14px !important;
    padding: 0;
    background-color: white;
    border-top: 0.5px solid #b2b2b2;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 600;
}
.footer_1{
    padding: 0;
    height: 50px;
    text-align: center;
    display: inline-block;
    width: 30%;
}
.footer_1 img,.footer_2 img,.footer_3 img{
    width:24px ;
    margin-top: 5px;
}
.footer_1 p,.footer_2 p,.footer_3 p{
    position: relative;
    bottom:12px;
    font-size: 10px;
    color: #5f646e;
}
.footer_2{
    height: 50px;
    text-align: center;
    display: inline-block;
    width: 28%;
}
.footer_3{
    text-align: center;
    background-color: #fdb932;
    display: inline-block;
    width: 42%;
    height: 50px;
}
#fenxiang{
    position: fixed;
    height: 285px;
    width: 100%;
    z-index: 900;
    background-color: #f7f7f7;
    bottom: 0px;

}
.share{
    height: 235px;
    width: 100%;
    border-bottom: 0.5px solid #CCCCCC;
    font-size: 15px;
    color: #666666;
}
.share div{
    width: 31%;
    display: inline-block;
    text-align: center;
}
.share div img{
    margin-top: 18px;
}
.share div p{
    margin-top: 20px;
    margin-bottom: 0;
}
.close{
    height: 50px;
    text-align: center;
    font-size: 16px;
    color: #666666;
    line-height: 50px;
}
/*添加图片部分*/
#add_img{
    /*display: inline-block;*/
    width: 96.59px;
    height: 96.59px;
    position: absolute;
}
.add{
    border: 0.5px dotted #bfbfbf;
    width: 100% !important;
    /*position: absolute;*/
}
.add_input{
    width:50px;
    height: 50px;
    opacity: 0;
    z-index: 999;
    position: relative;
    top: 25px;
    left: 25px;
}
/*底部导航栏*/
