html,body{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.dataList{
    padding-bottom: 45px;
width: 100%;
    height: auto;
}
.tab{
    margin: 5px 0 10px;
    background-color: #ffffff;
    width: 100%;
    height: auto;
}
.tab_p{
    font-size: 14px;
    color: #333;
    margin: 0;
    display: inline-block;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 30px;
}
.tab_div{
    width: 100%;
    text-align: center;
    border-bottom: 0.5px solid #e5e5e5;
}
.tab_div_p{
    font-size: 30px;
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
}
.tab_div_span{
    font-size: 14px;
    color: #999999;
    margin-bottom: 30px;
    display: inline-block;
}
.tab_bottom{
    font-size: 14px;
    color: #4179ce;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

/*我要付款*/
.footer{
    height: 45px;
    line-height: 45px;
    color: #FFF;
    background-color: #4179ce;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}