html,body{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
    overflow: hidden;
    background-color: #f2f2f2;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
p{
    margin: 0;
}
/*卡券*/
.contain{
   margin: 0 15px;
    /*height: 600px;*/
    padding-top: 20px;
}
.box{
    height: auto;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 4px;
}
.semicircle_lf,.semicircle_rt{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #f2f2f2;
    margin-top: 50px;
}
.semicircle_lf{
    margin-left: -7.5px;
}
.semicircle_rt{
    margin-right: -7.5px;
}
.zong{
    height: 56px;
    overflow: hidden;
}
/*优惠券额度*/
.money{
    padding-top: 12px;
    height: 68px;
    margin: 0 30px;
    border-bottom: 1px dotted #d0d1cf;
}
.money_lf_p{
    font-size: 32px;
    color: #ff3600;
    height: 32px;padding: 0;
}
.money_lf_span{
    display: inline-block;
    color: #999999;
    font-size: 14px;
    margin-top: 8px;
}
.money_rt_1{
    font-size:16px;
    color: #ff3600;
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 0!important;
    height: 16px;
}
.money_rt_2{
    display: inline-block;
    font-size: 13px ;
    color: #808080;
    margin-top: 12px;
    height: 13px;

}
.hospitalTherapySchemes{
    margin:0 30px;
    height: auto;
    color: #808080;
    font-size: 10px;
    height: 35px;
    line-height: 33px;
}
.hospital_span{
    vertical-align: middle;
}