html,body{
    overflow-x: hidden;
}
body{
    padding: 0;
    margin: 0;
    /*text-align: center;*/
    width: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -moz-user-select: none;
    -webkit-appearance:none;
    outline: none;
    overflow: hidden;
    background-color: #f2f2f2;
}
.lf{
    float: left;
}
.rt{
    float: right;
}
.clear{
    clear: both;
}
.top{
    width: 100%;
}
.top>img{
    width: 100%;
}
/*主体*/
.contain{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    background-color: #f8785b;
    margin-top: -5px
}
/*优惠券*/
.coupons{
    margin: 0 15px auto;
    background-color: #fff1c0;
    height: 321px;
    border-radius: 4px;
    position: relative;
}
.coupons_white{
    position: absolute;
    top: 28px;
    left: 17.5px;
    right: 17.5px;
    height: 115px;
    border-radius: 4px;
    background-color: #ffffff;
}
.semicircle_lf,.semicircle_rt{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #fff1c0;
    margin-top: 50px;
}
.semicircle_lf{
    margin-left: -7.5px;
}
.semicircle_rt{
    margin-right: -7.5px;
}
/*白框框里的优惠券金额*/
.money{
    line-height: 80px;
    height: 80px;
    color: #ff3600;
    margin-left: 7.5px;
    border-bottom: 1px dotted #d0d1cf;
}
.money_span1{
    font-size: 34px;
    margin-left: 19px;
}
.money_span2{
    font-size: 18px;
}
.hospital{
    margin-left: 7.5px;
    font-size: 14px;
    color: #999999;
    height: 35px;
    line-height: 35px;
}
.hospital_span{
    margin-left: 19px;
}
/*提示信息*/
.promptMessage{
    position: absolute;
    top: 143px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #ff5224;
}
.telephone{
    position: absolute;
    top: 185px;
    height: 44px;
    left: 59.5px;
    right: 60px;
    background-color: #fff;
    border-radius: 4px;
}
.telephone input{
    width: 90%;
    height: 100%;
    border: 0;
    padding-left: 10%;
}
.btn{
    position: absolute;
    height: 44px;
    line-height: 44px;
    background-color: #3290e8;
    text-align: center;
    border-radius: 6px;
    left: 59.5px;
    right: 60px;
    top: 247px;
    padding: 0;
    margin: 0;
}
.btn1{
    position: absolute;
    height: 44px;
    line-height: 44px;
    background-color: #3290e8;
    text-align: center;
    border-radius: 6px;
    left: 59.5px;
    right: 60px;
    top: 185px;
    padding: 0;
    margin: 0;
}
.btn button,.btn1 button{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color:transparent ;
    font-size: 14px;
    color: #ffffff;
    border-radius: 6px;
}
/*理疗方案*/
.therapySchemes{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    background-color: #fff1c0;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    height: auto;
}
.title{
    font-size: 16px;
    color: #333333;
    font-weight: 900;
    margin: 0px;
    line-height: 24px;
}
.therapySchemes_hospital{
    font-size: 14px;
    color: #999999;
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 20.5px;
}
.details_title{
    margin:0;
    font-size: 14px;
    color: #333333;
}
.detail{
    display: inline-block;
    font-size: 13px;
    color: #333333;
    margin-top: 5px;
    line-height: 23px;
}